.history-list {
  font-weight: bold;
  justify-content: space-between;
  display: flex;
  font-size: 18px;
}

.history-list .kredit {
  color: brown;
}

.history-list .extra {
  color: green;
}

.history-list i {
  font-size: 16px;
  color: brown;
}