.shopping-item h3 {
  align-self: flex-start;
}

.shopping-item p {
  margin: 0;
}

.shopping-item .action {
  margin-top: 8px;
  font-size: 12px;
}

.shopping-item .action i {
  margin-right: 7px;
  font-size: 11px;
}

.shopping-item .action .danger {
  color: brown;
}

.shopping-item .action .warning {
  color: rgb(160, 136, 0);
}

.shopping-item .action .success {
  color: rgb(12, 141, 70);
}
